/* Need to use GIF for IE6 and older here because main CSS file uses transparent PNG */
.subheader {
	background:url('images/featured_content.gif') no-repeat;
	}

#nav li a {
	width:156px;
	background-position:0 -54px;
	}
#nav li.page-item-453 a {
	width:157px;
	background-position:-156px -54px;
	}
#nav li.page-item-175 a {
	width:156px;
	background-position:-313px -54px;
	}
#nav li.page-item-4 a {
	width:160px;
	background-position:-469px -54px;
	}
#nav li.page-item-148 a {
	width:156px;
	background-position:-629px -54px;
	}
#nav li.page-item-forum a {
	width:155px;
	background-position:-785px -54px;
	}

